<div class="container">
 <h2>new beer</h2>
 <!-- <form role="form">-->
 <form>
   <div class="form-group">
     <label for="name">1- Name:</label>
     <input type="name" class="form-control" id="name" ng-model="beer.name" placeholder="Enter name">
     <div class="error" ng-show="error">{{errorMessage}}</div>
   </div> 
   <div class="form-group">
     <label for="pwd">2- Alcohol:</label>
     <input type="alcohol" class="form-control" id="alcohol" ng-model="beer.alcohol" placeholder="Enter alcohol">
   </div>
   <div class="form-group">
     <label for="pwd">3- Description:</label>
     <input type="description" class="form-control" id="description" ng-model="beer.description" placeholder="Enter description">
   </div>
   <div class="form-group">
     <label for="pwd">5- img:</label>
     <input type="img" class="form-control" id="img" ng-model="beer.img" placeholder="Enter img">
   </div>
   <div class="form-group">
     <label for="pwd">6- availability:</label>
     <input type="availability" class="form-control" id="availability" ng-model="beer.availability" placeholder="Enter availability">
   </div>
   <div class="form-group">
     <label for="pwd">7- brewery:</label>
     <input type="brewery" class="form-control" id="brewery" ng-model="beer.brewery" placeholder="Enter brewery">
   </div>
   <div class="form-group">
     <label for="pwd">8- label:</label>
     <input type="label" class="form-control" id="label" ng-model="beer.label" placeholder="Enter label">
   </div>
   <div class="form-group">
     <label for="pwd">9- serving:</label>
     <input type="serving" class="form-control" id="serving" ng-model="beer.serving" placeholder="Enter serving">
   </div>
   <div class="form-group">
     <label for="pwd">10- style:</label>
     <input type="style" class="form-control" id="style" ng-model="beer.style" placeholder="Enter style">
   </div>    
   <button ng-click="submit(beer)" id="submit">Ajouter</button>
 </form>
</div>